
<div class="container">
  <p>This page is a skeleton for the interactive résumé stuff. Chances are, if you are on this site you are considering me as a dev. I'm going to assume you are fine seeing renovations. Eventually there will be enough here that you won't actually see renos because the only thing that gets to this deployment channel will be the master branch. For now the site will stay in this weird pre-deployment phase because it looks like something is here instead of the "App-works" generic message that was here before. Remember that you are seeing a pre-alpha version; be gentle.</p>
  <h1>Curtis LayCraft</h1>

  <p><a href="tel:12508915376">+1 (250) 891-5376</a><br>
    <a href="mailto:curtis.laycraft@zoho.com">Curtis.LayCraft@zoho.com</a></p>

  <h4>Objective</h4>
  <p>To find and join a great team.</p>

  <h4>Education</h4>
  <p><strong>institution (dates) - program</strong><br>
    credential - designation</p>

  <p><strong>employer (dates) - position</strong><br>
    longDesc or shortDesc</p>
  <!--<p>length = {{data}}</p>-->
  <!--<h1>{{title}}</h1>-->
  <!--<div class="row" style="height: 300px; background-color: beige;">-->
    <!--<div class="col">-->
      <!--<p>Name: {{data?.name}}</p>-->
    <!--</div>-->
    <!--<div class="col">-->
    <!--2 of 2-->
    <!--</div>-->
  <!--</div>-->
</div>
